.exam1{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 1rem;
    float: left;
}
.exam2{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 1rem;
    float: right;
}