*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{width: 99vw; margin: 0 auto;}
nav {width: 99vw; margin: 0 auto;}
.logo {margin: 2rem;}
.logo a{text-decoration: none; color: black;}

.menu li{list-style-type: none; float: right; padding: 0.2rem;}
.menu { margin: 0 15px 0 15px;}